.hero
  .center_column
    a(href='http://stripe.com',target='_blank') Stripe
    |  . 
    a(href='http://chase.com',target='_blank') Chase
    |  . 
    a(href='http://google.com/analytics',target='_blank') Analytics
    |  . 
    a(href='http://google.com/adwords',target='_blank') Adwords
    |  . 
    a(href='https://www.facebook.com/ads/manage/view_report.php?report_type=perf&summarize_by=user&format=html&act=10150308777636448&ref=admanager&agg_time=custom&time_start=0&time_end=0&filter=nofilter',target='_blank') Adverts
    br
    p   
    br
    h1 Customers
.row
  .top
  .mid
    .center_column
      .row_bg
      .row_content
        table.customers
          -for user in req.customers
            tr
              td=user.name
              td=user.email
              td
                a(href=user.twitter_url)=user.twitter_url
                br
                a(href=user.facebook_url)=user.facebook_url
                br
                a(href=user.linkedin_url)=user.linkedin_url
                br
                a(href=user.profile_urls)=user.profile_urls
                br
                a(href=user.profile_image_url)=user.profile_image_url
              td.date_added=user.date_added.ago()
              td.date_added=user.date_added.format('mm/dd/yyyy hh:mm tt')
  .bottom