!!! 5
html
  head
    title=title
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='description', content=description)
    meta(name='viewport', content='width=1024')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='format-detection', content='telephone=no')
    link(rel='image_src', href='/images/logo.png')
    link(rel='image_src', href='/images/logo-114x114.png')
    link(rel='apple-touch-icon', href='/images/logo-114x114.png')
    link(rel='apple-startup-image', href='/images/logo-512x512.png')
    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='apple-touch-icon', href='/images/logo-512x512.png')




    link(rel='stylesheet', href='/fonts/social/stylesheet.css')
    link(rel='stylesheet', href='/fonts/edo/stylesheet.css')
    link(rel='stylesheet', href='/fonts/fff/stylesheet.css')
    link(rel='stylesheet', href='/fonts/belligerent/stylesheet.css')
    //
    // Put only the fonts you NEED to display the page here
    //
    // These will slow the page down
    //
    //link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Maven+Pro:400,500|Amatic+SC:700|Luckiest+Guy')
    //
    //


    
    != css('style')
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25705975-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    | <script language="javascript">
    - env = 'env = \''+env+'\';'
      =env
    | </script>
  body
    
    include container
    

    != js('script')
    //if lt IE 7
      != js('libs/json2.js')
    script(src='https://js.stripe.com/v1/')
    script(src='//www.google.com/jsapi')
    script
      google.load("webfont", "1");
    //if lt IE 9
      != css('ie')
      != js('libs/PIE.js')
    #fb-root
    script
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=292309860797409";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    script
      setTimeout(function(){var a=document.createElement("script");
      var b=document.getElementsByTagName('script')[0];
      a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0012/1101.js?"+Math.floor(new Date().getTime()/3600000);
      a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);