.hero
  .center_column
    .section
      .cell_bg
      .cell_content
        table.order_status
          tr.order_row_top
            td.order_cell Card
            td.order_cell Order ID
            td.order_cell Date Submitted
            td.order_cell Shipping Address
            td.order_cell Paid
            td.order_cell Status
            td.order_cell Action
          - for (var i in req.orders)
            tr.order_row(order_id=req.orders[i]._id)
              td.order_cell
                a(href='/render/1680/900/' + req.orders[i]._id + '/?cards.ly',target='_blank')
                  img(src='/render/158/90/' + req.orders[i]._id + '/?cards.ly')
              td.order_cell=req.orders[i].order_number
              td.order_cell=req.orders[i].date_added.format('m/dd/yyyy h:MM tt')
              td.order_cell
                !{req.orders[i].full_address}
              td.order_cell=req.orders[i].quantity
              td.order_cell.status=req.orders[i].status
              td.order_cell
                - if(req.orders[i].s3_id)
                  a.printed(href='https://d3eo3eito2cquu.cloudfront.net/pdfs/' + req.orders[i].s3_id + '.pdf',target='_blank') Print
                  br
                  br
                  a.shipped(href='#') Shipped
                - else
                  a(href='/print/front/'+req.orders[i]._id, target='_blank') Front
                  br
                  a(href='/print/back/'+req.orders[i]._id, target='_blank') Back
                  br
                  br
                  a.shipped(href='#') Shipped