.gallery_select
.help_container
  .help_trigger.button.gray Show Help
  .help_close.button.normal Hide Help
  .help_overlay
    .help_img_container.enter_card
      .help_img.right
        .text Enter your card info
    .help_img_container.click_more_card
      .help_img.right
        .text Click to see more cards
      .clear
    .help_img_container.chose_card_design
      .help_img.left
        .text Choose the card design
  .design_container
    .section
      .cell_bg
      .cell_content
          h3 Step 1 : Design Your Cards
          .active_view
            if req.session && req.session.saved_form && req.session.saved_form.active_view
              =req.session.saved_form.active_view
          .active_theme_id
            if req.session && req.session.saved_form && req.session.saved_form.active_theme_id
              =req.session.saved_form.active_theme_id
          .home_designer
            .card_container
              .card
                .qr
                  .background
                if req.session && req.session.saved_form && req.session.saved_form.values && req.session.saved_form.values.length
                  .content
                    - for(var i=0; i<req.session.saved_form.values.length; i++)
                      .line
                        !{unescape(req.session.saved_form.values[i])}
                else
                  .content.defaults
                    .line John Stamos
                    .line Uncle Jesse
                    .line 555.555.5555
                    .line john@stamos.com
                    .line
                    .line
                    .line
                    .line
                    .line
                    .line
          .clear
          .home_options
            .views
              .subtitle Number of Fields
              .toggle
                .disabled
                  .option.six.active 6
                  .option.twelve 10
            - if(env != 'production')
              .advanced
                .button.small.gray Design My Own
          .advanced_options
            ul.area
              li.active
                .upload
                  .title Or upload 1050x600
                  form(target='hiddenFrame',action='/up',method='POST',enctype='multipart/form-data')
                    input(type='file',name='image')
                  .img_loader
                    iframe(name='hiddenFrame')
                .patterns
                  .title Choose a pattern
                  .thumbs
                    -for pattern in req.patterns
                      img.thumb(src='//d3eo3eito2cquu.cloudfront.net/pattern-thumbs/'+pattern.s3_id,s3_id=pattern.s3_id)
              li Blegh
              li Blegh
            ul.tab_button
              li.active Background
              li Text
              li QR Code
          .clear
          .categories
    .clear
.help_container
  .help_trigger.button.gray Show Help
  .help_close.button.normal Hide Help
  .help_overlay
    .help_img_container.quantity_over
      .help_img.left
        .text Select Quantity
      .clear
    .help_img_container.ship_over
      .help_img.right
        .text Enter Address
      .clear
  .section
    .cell_bg
    .cell_content
      h3 Step 2 : Quantity and Shipping
      .order_details
        ul.radio_text_fields.left.quantity
          - quantity = 10
          if req.session && req.session.saved_form && req.session.saved_form.quantity
            - quantity = req.session.saved_form.quantity
          li
            .promo
              img.promo_img(src='/images/promo.png')
              input(
                type='radio'
                name='quantity'
                value='10'
                checked= (quantity==10 ? 'checked' : false)
                id='quantity_1'
              )
              label(for='quantity_1') 100 cards for $10
                .subtitle 10 cents per card
          li
            input(
              type='radio'
              name='quantity'
              value='25'
              checked= (quantity==25 ? 'checked' : false)
              id='quantity_2'
            )
            label(for='quantity_2') 250 cards for $25
              .subtitle 10 cents per card
          li
            input(
              type='radio'
              name='quantity'
              value='35'
              checked= (quantity==35 ? 'checked' : false)
              id='quantity_3'
            )
            label(for='quantity_3') 500 cards for $35
              .subtitle 7 cents per card
          li
            input(
              type='radio'
              name='quantity'
              value='70'
              checked= (quantity==70 ? 'checked' : false)
              id='quantity_4'
            )
            label(for='quantity_4') 1500 cards for $75
              .subtitle 5 cents per card
        ul.radio_text_fields.right.shipping_method
          - shipping_method = 0
          if req.session && req.session.saved_form && req.session.saved_form.shipping_method
            - shipping_method = req.session.saved_form.shipping_method
          li
            input(
              type='radio'
              name='shipping_method'
              value='0'
              checked= (shipping_method==0 ? 'checked' : false)
              id='shipping_method_1'
            )
            label(for='shipping_method_1') FREE USPS Priority Mail
              .subtitle 1-3 days
          li
            input(
              type='radio'
              name='shipping_method'
              value='25'
              checked= (shipping_method==25 ? 'checked' : false)
              id='shipping_method_2'
            )
            label(for='shipping_method_2') USPS Express Mail for $25
              .subtitle overnight
        ul.text_fields.shipping.righter
          li
            label Address
            input.address(
              placeholder='221 Baker, Suite B'
              value= (req.session.saved_address ? req.session.saved_address.address : '')
            )
          li
            label City or Zip
            input.city(
              placeholder='90210'
              value= (req.session.saved_address ? req.session.saved_address.city : '')
            )
          li
            .address_container
              h5 Shipping Address
              .address_result
                if req.session && req.session.saved_address
                  !=req.session.saved_address.full_address
        .clear
.help_container
  .help_trigger.button.gray Show Help
  .help_close.button.normal Hide Help
  .help_overlay
    .help_img_container.signin_over
      .help_img.left_down
        .text Sign In Method
      .clear
  .section
    .cell_bg
    .cell_content
      h3 Step 3: Account
      .signins
        if req.user
          .check
            ul
              li.do_send_confirm
                input(type='checkbox',id='do_send_confirm',checked='checked')
                label(
                  for='do_send_confirm'
                ) Send a confirmation email and
              li.do_send_shipping
                input(type='checkbox',id='do_send_shipping',checked='checked')
                label(
                  for='do_send_shipping'
                ) Send a shipping receipt to
              li.email_to_send
                input(
                  name='email_to_send'
                  id='email_to_send'
                  value=req.user.email
                  placeholder='my@email.com'
                )

        else
          .img_loader
            .google.hover
            .google.click
            .facebook.hover
            .facebook.click
            .linkedin.hover
            .linkedin.click
            .twitter.hover
            .twitter.click
            .new.hover
            .new.click
          p
            .socials
              p
                | Sign in with a method below:
              a.button.new(href='#')
                span Create a req.username and password
              a.button.twitter(href='/auth/twitter')
                span Twitter
              a.button.facebook(href='/auth/facebook')
                span Facebook
              a.button.linkedin(href='/auth/linkedin')
                span LinkedIn
              a.button.google(href='/auth/google')
                span Google
              .clear
.help_container
  .help_trigger.button.gray Show Help
  .help_close.button.normal Hide Help
  .help_overlay
    .help_img_container.double_check
      .help_img.left
        .text Preview Of Card
      .clear
    .help_img_container.enter_price
      .help_img.right
        .text Enter Credit Card
      .clear
  .section
    .cell_bg
    .cell_content
      h3 Step 4: Confirm and Buy
      .order_total
        .card_side
          .my_card
          .address_container
            h5 Shipping Address
            .address_result
              if req.session && req.session.saved_address
                !=req.session.saved_address.full_address
        .details
          .total Total Price: &nbsp;
            .price $10
          if req.user && req.user.stripe && req.user.stripe.id
            .existing_payment
              .type
                =req.user.stripe.active_card.card_type
              .expiry
                =req.user.stripe.active_card.exp_month
                | /
                =req.user.stripe.active_card.exp_year
              .last_4
                | **** - **** - **** - 
                =req.user.stripe.active_card.last4
              .small.button.gray Use New Card
            .use_existing_payment
              .small.button.gray Use Existing
          if req.user && req.user.payment_method && req.user.payment_method.token
            .existing_payment
              .type
                =req.user.payment_method.card_type
              .expiry
                =req.user.payment_method.expiry_month
                | /
                =req.user.payment_method.expiry_year
              .last_4
                | **** - **** - **** - 
                =req.user.payment_method.last_four_digits
              .small.button.gray Use New Card
          form(action='https://api.samurai.feefighters.com/v1/payment_methods',method='POST')
            input(name='redirect_url', type='hidden', value='http://cards.ly/thank-you')
            input(name='merchant_key', type='hidden', value='89b14db44561382d457b5160')
            input(name='sandbox', type='hidden', value='true')
            ul.form
              li
                label Card Number
                input.card_number(name='credit_card[card_number]')
              li
                label CVC
                input.cvv(name='credit_card[cvv]')
              li.expiration
                label Expiration
                select.card_expiry_month(name='credit_card[expiry_month]')
                  - months = ['January','February','March','April','May','June','July','August','September','October','November','December']
                  - for (var i in months)
                    option(value=(i*1)+1)=months[i]
                select.card_expiry_year(name='credit_card[expiry_year]')
                  - for (var year = 2011; year<2032; year++)
                    option(value=year)=year
            .img_loader
              input(type='submit',value'Submit')
          .clear
          if error_message
            .error=error_message
          .button.normal.checkout Purchase
        .clear
//
//
// Wow, IE downloads everything
// So google won't load anything, unless we chunk it up into segments of 6 or less
link(rel='stylesheet', href='//fonts.googleapis.com/css?family=IM+Fell+English+SC|Julee|Syncopate|Gravitas+One|Quicksand')
link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Vast+Shadow|Smokum|Ovo|Rancho|Poly')
link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Chivo|Prata|Abril+Fatface|Ultra')
link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister|Carter+One|Gruppo|Slackey')